.body-content{
	background: #FFF; 
}

.bar-nav{
	background-color: #1da1f2;
}

.introduction{
	text-align: center;
	margin-top: 15%;
	color: #1da1f2; 
}

.login-container{
	margin-top: 15%;
}

.existing-user-container, .sign-in-container{
	margin-top: 15%;
}

.existing-user-element, .account-content{
	margin-bottom: 10%;
}

.title{
	color: #FFF;
	font-size: 23px;
}

.search-bar{
	margin-top: 15%;
}



